*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}
.tittle-desc{
    margin: -60px auto;
    width: 500px;
}
.tittle{
   margin: 50px auto; 
   width: 260px;
   height: 70px;
}
section{
    margin: 90px auto;
    width: 1000px;
    height: 870px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}
.International{
    width: 300px;
    height: 400px; 
    background-color: white;
    display: flex;
    justify-content: center;
}
.Access{
    width: 300px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.One{
    width: 300px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.Unrivalled{
    width: 300px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.Transparent{
    width: 300px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.Personalized{
    width: 300px;
    height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
}
img{
    width: 80px;
    height: 80px;
    margin: 40px;
}
h4{
    position: absolute;
    background-color: white;
    margin: 150px 200px;
}
section h5{
    position: absolute;
    background-color: white;
    margin: 190px 200px;
    width: 250px;
    word-wrap: break-word;
}